{% extends "blog/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-9">
            {% if category %}
                <h1>{{ category }}<i>-category-</i></h1>
                <hr>
            {% elif tag %}
                <h1>#{{ tag }}</h1>
                <hr>
            {% endif %}
            {% for blog in posts %}
                {% if blog.is_published or user.is_superuser %}
                    {% if not blog.is_published %}
                        <span class="badge bg-danger">下書き</span>
                    {% endif %}
                    <h3>{{ blog.title }}</h3>
                    <p>{{ blog.content | truncatechars:30 }}</p>
                    <p>{{ blog.created_at }}{{ blog.updated_at }}</p>
                    <p><a href="{% url "post-detail" blog.pk %}">続きを読む＞＞</a></p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-3">
            {% include "blog/snippets/sidebar.html" %}
        </div>
    </div>
{% endblock content %}